{sys, [
    {lib_dirs, ["../deps","../apps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "muppetforge_node", "1", [
        kernel,
        stdlib,
        sasl,
        muppet_repository,
        muppet_upstream,
        muppet_forge
    ]},
    {rel, "start_clean", "", [
      kernel,
      stdlib
    ]},
    {boot_rel, "muppetforge_node"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)","^erts.*/bin/(dialyzer|typer)","^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, muppet_repository, [{mod_cond, app}, {incl_cond, include}]},
    {app, muppet_upstream, [{mod_cond, app}, {incl_cond, include}]},
    {app, muppet_auth, [{mod_cond, app}, {incl_cond, include}]},
    {app, muppet_forge, [{mod_cond, app}, {incl_cond, include}]}
]}.

{target_dir, "muppetforge_node"}.

{overlay, [
{mkdir, "log/sasl"},
{copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
{copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
{copy, "muppetforge_node/bin/start_clean.boot", "\{\{erts_vsn\}\}/bin/start_clean.boot"},
{copy, "files/muppetforge_node", "bin/muppetforge_node"},
{copy, "files/muppetforge_node.cmd", "bin/muppetforge_node.cmd"},
{copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
{copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
{copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
{copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
