[

 {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
]},

%% whitelisting everybody (no auth, default)
%{muppet_auth, [
%    {auth_modules, [
%        {muppet_auth_always,[]}
%    ]}    
%]},

%% basic auth using an ldap server as backend
%{muppet_auth, [
%    {auth_modules, [
%        {muppet_basic_auth_ldap, [
%            {servers, ["ldap.example.com"]},
%            {dn_format, "uid=~s,ou=Bind,dc=example,dc=com"},
%            {ldap_options, [{ssl, true}, {port, 636}]}
%        ]}
%    ]}    
%]},

%% whitelisting a cidr
%{muppet_auth, [
%    {auth_modules, [
%        {muppet_auth_cidr, [
%            {allowed_cidrs, [{"127.0.0.0", 8}]}
%        ]}
%    ]}    
%]},

%% cascading auth modules (cidr, ldap)
%{muppet_auth, [
%    {auth_modules, [
%        {muppet_auth_cidr, [
%            {allowed_cidrs, [{"127.0.0.0", 8}]}
%        ]},
%        {muppet_basic_auth_ldap, [
%            {servers, ["ldap.example.com"]},
%            {dn_format, "uid=~s,ou=Bind,dc=example,dc=com"},
%            {ldap_options, [{ssl, true}, {port, 636}]}
%        ]}
%    ]}    
%]},

%% listening in http on port 8080
{muppet_forge, [
    {protocol, http},
    {port, 8080}
]}

%% listening in https on port 8084
%{muppet_forge, [
%    {protocol, https},
%    {cacertfile, "/tmp/cacert.crt"},
%    {certfile, "/tmp/server.crt"},
%    {keyfile, "/tmp/server.key"},
%    {port, 8084}
%]}

].

